body{
    margin-left:5%;
    margin-right:5%;
}
.blog-header{
    font-size:1.2em;
}
.blog-date{
    font-weight: bold;
}
.blog-entry{
    margin-left:10px;
}

#game-canvas{
    display:block;
    margin:3%;
}